<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Tracker</title>
    <%- style  %>
</head>
<body>
    <%- include('./partials/_header') %>
    <%- body %>
    <%- include('./partials/_footer') %>
    <%- script %>
</body>
</html>